<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
</head>
<body>
    <form action="reg" method="post">
        <input type="text" name="first_name" placeholder="Firest"><br>
        <input type="text" name="last_name" placeholder="Lirest"><br>
        <input type="text" name="user_name" placeholder="Uirest"><br>
        <input type="email" name="email" placeholder="Eirest"><br>
        <input type="password" name="password_1" placeholder="Pirest"><br>
        <input type="password" name="password_2" placeholder="CPirest"><br>
        <input type="Submit">
    </form>
</body>
</html>
